# Include the README
include *.md

# Include the license file
include LICENSE.txt

recursive-include jsonschema2popo *
global-exclude __pycache__/*
global-exclude JSONSchema2PoPo2.egg-info/*
global-exclude test/*
